build/
dist/
rede_edi.egg-info/

teste.py
teste_dynamo.py
teste_purge_table.py
teste_eevc.py
teste2.py
teste_eefi_small.py
teste_eevc_small.py

testefiles

.vs_code 
.vscode

__pycache__/*
__pycache__/

.DS_Store

purge_table.py

mongodata

mongodata/*

env/
venv/

*.pyc
